

<body>
  <div class="page-container">
<div id="itemTable" *ngIf="donationRequests && donationRequests.length > 0">

    <h1 class="text-center">Donations History</h1>
  
    <table>
      <tr>
        <th>Institution</th>
        <th>Location</th>
        <th>Quantity</th>
        <th>Quality</th>
        <th>Date Appointed</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let donation of donationRequests">
        <td>
          {{ donation.institution.name }}
        </td>
        <td>
          {{ donation.location.name }}
        </td>
        <td>
          {{ donation.quantity }}
        </td>
        <td>
          {{ donation.quality }}
        </td>
        <td>
          {{ donation.dateToCollect| date : "shortDate" }}
        </td>
        <td>
          <button (click)="viewDetails(donation._id)">View Details</button>
        </td>
      </tr>
    </table>
    <button class="donation-request"  (click)="makeRequest()">Make a donation request!</button> <!--add functionality to this-->
  </div>
  
    <div *ngIf="!donationRequests || donationRequests.length === 0">
      <p class="text-center">No donations available.</p>
      <button class="donation-request"  (click)="makeRequest()" >Make a donation request!</button> <!--add functionality to this-->
    </div>

    
    <ng-template #loadingOrError>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <div *ngIf="!errorMessage">Loading...</div>
    </ng-template>
  </div>
  </body>