
<body>


    <div id="content">
        <div class="white-box">
            <div class="purpose-statement">
                <h2>What is Reclica Textil? </h2>
                <p> Reclica Textil is a non-profit organization dedicated to reducing textile waste and supporting
                     communities in need by collecting, recycling, and redistributing clothing and other textiles.</p>
            </div>
        </div>
        <div class="white-box">
            <div class="purpose-statement">
                <h2>What types of items can I donate? </h2>
                <p> We accept all types of clothing, shoes, accessories, 
                    and household textiles. Items should be clean and in good condition.</p>
            </div>
        </div>

        <div class="white-box">
            <div class="purpose-statement">
                <h2>How can I volunteer with Reclica Textil?</h2>
                <p> We welcome volunteers for various roles including sorting donations, 
                    assisting at events, and community outreach. Please fill out the volunteer
                     application form on our website to get started.</p>
            </div>
        </div>

        <div class="white-box">
            <div class="purpose-statement">
                <h2>How does Reclica Textil ensure that donations are used responsibly? </h2>
                <p> We work with a network of trusted partners and conduct regular audits to ensure that donations are distributed responsibly and transparently.</p>
            </div>
        </div>
    </div>
    

   
</body>